BODY {
    background: white url('../assets/raster.gif') no-repeat;
}

H3, H4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

H3 {
    margin-top: 30px;
}

.wrapper {
    padding-left: 50px;
    padding-top: 20px;
}

#userAgent {
    font-size: 12px;
}

#mailToLink {
    float: right;
    top: 50px;
    right: 10px;
    margin-left: 5px;
}

.inputForKeyboardOnDemo, .demoButton {
    height: 45px;
    font-size: 14px;
    border: 1px solid maroon;
    margin: 5px;
}

.inputForKeyboardOnDemo {
    width: 150px;
    border: 1px solid cadetblue;
    margin-bottom: 5px;
    margin-top: 5px;
}

.options {
    border: 1px dashed gray;
    background-color: silver;
}

.options P {
    margin: 0;
}

.options .demoButton {
    height: 30px;
}

/* ========= Swipe up styles ========= */
.swipeUpOverlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: 999;
    color: white;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fixedFlexBox {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 140%; /* this and below are needed for Safari portrait otherwise the will be a 'gap' after swipe up */
    top: -20%;
    font-size: 3vmax;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    width: 100%;
}

/* --------------------------------------------------------------- */

#swipe-up-hand {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-animation: movingHand 1500ms ease-in-out infinite;
    animation: movingHand 1500ms ease-in-out infinite
}

.swipe__trail {
    -webkit-transform: scale3d(1, .1, 1);
    transform: scale3d(1, .1, 1);
    -webkit-animation: trailAppearing 1500ms linear infinite;
    animation: trailAppearing 1500ms linear infinite
}

.swipe__pseudoCircle {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, 1);
    transform: scale3d(.8, .8, 1);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: circleGrowing 1500ms linear infinite;
    animation: circleGrowing 1500ms linear infinite
}

@-webkit-keyframes trailAppearing {
    0%, 20% {
        -webkit-transform: scale3d(.5, 0, 1);
        transform: scale3d(.5, 0, 1);
        -webkit-transform-origin: top center;
        transform-origin: top center
    }
    40%, 60% {
        -webkit-transform: scale3d(1, .8, 1);
        transform: scale3d(1, .8, 1);
        -webkit-transform-origin: top center;
        transform-origin: top center
    }
    100%, 80% {
        -webkit-transform: scale3d(.5, 0, 1);
        transform: scale3d(.5, 0, 1);
        -webkit-transform-origin: top center;
        transform-origin: top center
    }
}

@keyframes trailAppearing {
    0%, 20% {
        -webkit-transform: scale3d(.5, 0, 1);
        transform: scale3d(.5, 0, 1);
        -webkit-transform-origin: top center;
        transform-origin: top center
    }
    40%, 60% {
        -webkit-transform: scale3d(1, .8, 1);
        transform: scale3d(1, .8, 1);
        -webkit-transform-origin: top center;
        transform-origin: top center
    }
    100%, 80% {
        -webkit-transform: scale3d(.5, 0, 1);
        transform: scale3d(.5, 0, 1);
        -webkit-transform-origin: top center;
        transform-origin: top center
    }
}

@-webkit-keyframes movingHand {
    0% {
        top: 75%
    }
    100% {
        top: 25%
    }
}

@keyframes movingHand {
    0% {
        top: 75%
    }
    100% {
        top: 25%
    }
}

#touch-hand {
    width: 50%;
    -webkit-animation: pressByFinger 1s linear infinite;
    animation: pressByFinger 1s linear infinite;
    -webkit-transform-origin: bottom;
    transform-origin: bottom
}

@media (orientation: landscape) {
    #touch-hand {
        width: 35%
    }
}

.touch__trail {
    -webkit-transform: scale3d(1, .1, 1);
    transform: scale3d(1, .1, 1);
    -webkit-animation: trailAppearing 2s linear infinite;
    animation: trailAppearing 2s linear infinite
}

.touch__pseudoCircle {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: circleGrowing 1s linear infinite;
    animation: circleGrowing 1s linear infinite
}

@-webkit-keyframes pressByFinger {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    55%, 95% {
        -webkit-transform: scale3d(.8, .8, 1);
        transform: scale3d(.8, .8, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pressByFinger {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    55%, 95% {
        -webkit-transform: scale3d(.8, .8, 1);
        transform: scale3d(.8, .8, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes circleGrowing {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.51, .51, 1);
        transform: scale3d(.51, .51, 1)
    }
    20% {
        opacity: 0;
        -webkit-transform: scale3d(.71, .71, 1);
        transform: scale3d(.71, .71, 1)
    }
    55%, 95% {
        opacity: .8;
        -webkit-transform: scale3d(1.11, 1.11, 1);
        transform: scale3d(1.11, 1.11, 1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.51, .51, 1);
        transform: scale3d(.51, .51, 1)
    }
}

@keyframes circleGrowing {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.51, .51, 1);
        transform: scale3d(.51, .51, 1)
    }
    20% {
        opacity: 0;
        -webkit-transform: scale3d(.71, .71, 1);
        transform: scale3d(.71, .71, 1)
    }
    55%, 95% {
        opacity: .8;
        -webkit-transform: scale3d(1.11, 1.11, 1);
        transform: scale3d(1.11, 1.11, 1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.51, .51, 1);
        transform: scale3d(.51, .51, 1)
    }
}

/* --------------------------------------------------------------- */

.debugWidget {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    position: fixed;
    top: 150px;
    left: 5px;
    right: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 1.2vmax;
    z-index: 1000;
    display: none;
}

.debugWidgetCloseBtn {
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    right: 0;
    top: 0;
    padding: 0 5px 5px 5px;
    line-height: 18px;
}

.debugAllReadings{
    margin-right: 10px;
}

.debugUserAgent {
    font-size: 0.9em;
}

.debugButtons {
    margin-top: 5px;
    display: flex;
}

.debugButtons button {
    border: 1px solid silver;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    padding: 0.3em;
    flex: 1 1 auto;
    margin-left: 5px;
    margin-right: 5px;
}

.debugButtons button.disabled {
    color: silver;
}

.inputForKeyboard {
    width: 1px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}