BODY {
    background: white url('../assets/raster.gif') no-repeat;
}

H3, H4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

H3 {
    margin-top: 30px;
}

INPUT {
    width: 150px;
    border: 1px solid cadetblue;
    margin-bottom: 5px;
    margin-top: 5px;
}

BUTTON {
    border: 1px solid maroon;
    margin-left: 5px;
}

.wrapper {
    padding-left: 50px;
    padding-top: 20px;
    position: fixed;
}

#userAgent {
    font-size: 12px;
}

#mailToLink {
    float: right;
    top: 50px;
    right: 10px;
    margin-left: 5px;
}

.inputForKeyboardOnDemo, #toggleViewport, #toggleDebugWidget {
    height: 45px;
    font-size: 14px
}

/* ========= Swipe up styles ========= */
.swipeUpOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    color: white;
    display: none;
    z-index: 999;
    text-align: center;
    padding-top: 21%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*pointer-events: none;*/
}

.fixed {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 20%;
    font-size: 3vmax;
}

.myModal {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: blue;
    top: 25%;
    left: 25%;
    text-align: center;
    color: white;
}

.debugWidget {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    position: fixed;
    top: 150px;
    left: 5px;
    right: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 1.2vmax;
    z-index: 1000;
    display: none;
}

.debugWidgetCloseBtn {
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    right: 0;
    top: 0;
    padding: 0 5px 5px 5px;
    line-height: 18px;
}

.debugAllReadings{
    margin-right: 10px;
}

.state {
    border: 1px solid silver;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.debugUserAgent {
    font-size: 0.9em;
}

.debugButtons {
    margin-top: 5px;
    display: flex;
}

.debugButtons button {
    background: transparent url('../assets/email.png') no-repeat top;
    border: 1px solid silver;
    height: 5.5em;
    line-height: 9em;
    color: white;
    font-size: 1em;
    padding: 0;
    flex: 1 1 auto;
    margin-left: 5px;
    margin-right: 5px;
}

.debugButtons button.disabled {
    color: silver;
}

.inputForKeyboard {
    width: 1px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/*https://www.flaticon.com/free-icon/keyboard_181827#term=keyboard&page=1&position=32*/
.debugButtons button.keyboard {
    background-image: url('../assets/keyboard.png');
    background-size: 4em;
}

.debugButtons button.refresh {
    background-image: url('../assets/refresh.png');
    background-size: 4em;
}

.debugButtons button.fullscreen {
    background-image: url('../assets/fullscreen-enter.png');
    background-size: 4em;
}

.debugButtons button.email {
    background-image: url('../assets/email.png');
    background-size: 4em;
}

.debugButtons button.disable {
    background-image: url('../assets/remove.png');
    background-size: 4em;
}